.articles {
    font-size: 16px;
    margin-bottom: 115px;
    // .articles__title
    &__title {
    }

    // .articles__content
    &__content {
        margin: -1em;
        display: flex;
        flex-wrap: wrap;
    }

    // .articles__item
    &__item {
        margin: 1em;
        flex: 1 0 46%;
    }
}
