.shop {

    // .shop__title

    &__title {
    }

    // .shop__content

    &__content {
    }

    // .shop__cat

    &__cat {
    }

    // .shop__products
    &__products {
        margin-bottom: 35px;
    }

    // .shop__pagination
    &__pagination {
        margin-left: auto;
        max-width: 50%;
    }
}



